.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  background-color: #f4f4f4;
}

/* Form đăng nhập */
.login-form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  box-sizing: border-box;
}

/* Tiêu đề */
.form-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

/* Input field */
.form-group input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  box-sizing: border-box;
}
.forgot-password {
  text-align: right;
  margin-top: 10px;
}

.forgot-password a {
  text-decoration: none;
  font-size: 14px;
  color: #007bff;
}

.forgot-password a:hover {
  text-decoration: underline;
}
.register {
  text-align: left;
  margin-top: 10px;
}

.register a {
  text-decoration: none;
  font-size: 14px;
  color: #007bff;
}

.register a:hover {
  text-decoration: underline;
}
/* Button */
.login-page button {
  width: 100%;
  padding: 15px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  box-sizing: border-box;
}

button:hover {
  background: #0056b3;
}
